<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/company">Company</a>
        <a class="active" href="/admin">admin</a>

    </div>
    <div style="width: 460px; margin: 10px auto;">
        <form action="/update-product" method="POST" enctype="multipart/form-data">
            <table>
                <% for ( let n=0; n < dataProd.length; n++) { %>
                    <tr>
                        <th colspan="2">
                            <h2>Edit product</h2>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <label>Product Name: </label>
                        </td>
                        <td>
                            <input type="text" name="ProName" value="<%= dataProd[n].ProName %>" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Price: </label>
                        </td>
                        <td>
                            <input type="text" name="ProPrice" value="<%= dataProd[n].ProPrice %>" required />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Image: </label>

                        </td>
                        <td>
                            <input type="file" name="ProdImage" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Company: </label>
                        </td>
                        <td>
                            <select name="CompID">
                                <% for (let i=0; i < dataComp.length ; i++) {%>
                                    <% if(dataComp[i].CompID==dataProd[n].CompID) { %>
                                        <option value="<%= dataComp[i].CompID%>" selected>
                                            <%= dataComp[i].CompName%>

                                        </option>

                                        <% } %>
                                            <option value="<%= dataComp[i].CompID%>">
                                                <%= dataComp[i].CompName%>
                                            </option>
                                            <% } %>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="ProID" value="<%= dataProd[n].ProID %>" hidden>
                        </td>
                        <td>
                            <button type="submit">Submit</button>
                            <button type="reset">reset</button>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </form>
    </div>
</body>