<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/company">Company</a>
        <a class="active" href="/admin">admin</a>

    </div>
    <div style="width: 460px; margin: 10px auto;">
        <form action="/Update-company" method="POST">
            <table>
                <% for (let i=0; i < dataComp.length ; i++) { %>
                    <tr>
                        <td colspan="2">
                            <h2>Edit company</h2>


                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>Company Name: </label>
                        </td>
                        <td>
                            <input type="text" name="CompName" value="<%= dataComp[i].CompName%>" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>email </label>
                        </td>
                        <td>
                            <input type="email" name="CompEmail" value="<%= dataComp[i].CompEmail%>" required />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Address: </label>

                        </td>
                        <td>
                            <input type="text" name="CompAddress" value="<%= dataComp[i].CompAddress%>" required />
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td>
                            <label>Phone: </label>
                        </td>
                        <td>
                            <input type="text" id="phone" name="CompPhone" placeholder="10 numbers"
                                value="<%= dataComp[i].CompPhone%>" required />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="text" name="CompID" value="<%= dataComp[i].CompID%>" hidden>
                        </td>
                        <td>
                            <button type="submit">Submit</button>
                            <button type="reset">reset</button>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </form>
    </div>
</body>

</html>